- if current_user == answer.question.author
  - form_for answer.question do |f|
    - if !answer.accepted?
      = hidden_field_tag 'question[accepted_answer_id]', answer.id
      = f.submit "Accept"
    - elsif answer.accepted?
      = hidden_field_tag 'question[accepted_answer_id]', nil
      = f.submit "Unaccept"
