%h2 All questions

= link_to "Ask a question", new_question_path

%ul
  - @questions.each do |question|
    %li
      = link_to question.title, question
      = pluralize(question.answers.count, 'answer')
