<h2><%= h @question.title %></h2>

<p><%= h @question.body %></p>

<%= @question.answer_count %>

<ul>
  <% @question.answers.each do |a| %>
    <li>
      <%= h a.body %>
    </li>
  <% end %>
</ul>
