button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

a       { color: #233FBF; text-decoration: none; }
a:hover { color: #7F95FF; text-decoration: underline; }

a img {
  border: none;
}

label, input[type="submit"] {
  display: block;
}
input, textarea {
  padding: 0.25em;
}
input[type="text"], input[type="password"], textarea {
  margin-bottom: 1em;
  width: 50%;
  border: 1px solid #999;
}

.vote {
  float: left;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
}
.vote .score {
  display: block;
  font-size: 250%;
  font-weight: bold;
  color: #333;
}
.vote .cancel {
  display: block;
  font-size: 75%;
}
.vote input[type="submit"] {
  display: inline;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  text-indent: -999em;
  cursor: pointer;
}
.vote input[type="submit"][value="Up"] {
  background-image: url(/images/vote-up.png);
}
.vote input[type="submit"][value="Down"] {
  margin-left: -0.5em;
  background-image: url(/images/vote-down.png);
}

.clear {
  clear: both;
}

.error, .notice, .success {
  padding: 0.5em;
  margin: 0.25em 0;
}
.error {
  border: 2px solid #FBC2C4;
  color: #8A1F11;
  background: #FBE3E4;
}
.notice {
  border: 2px solid #FFD324;
  color: #514721;
  background: #FFF6BF;
}
.success {
  border: 2px solid #C6D880;
  color: #264409;
  background: #E6EFC2;
}

#header h1 a { color: #111 !important; }
#header h1 a:hover { color: #333 !important; text-decoration: none; }

.controls {
  float: right;
  font-size: 90%;
}
#user_nav {
  padding: 0.25em;
  margin: 0;
  list-style: none;
  background: #ddd;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
#user_nav li {
  float: left;
  padding: 0.25em 0.5em;
}

a.chrome, .chrome a             { color: #2276BB !important; }
a.chrome:hover, .chrome a:hover { color: #0084B4 !important; }

.meta { color: #444; margin-bottom: 0; }

.answers {
  padding: 0;
}
.answer {
  margin: 1em 0;
  padding: 0.5em;
  background: #eee;
  border: 2px solid #aaa;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
.answer.accepted {
  background: #dfd;
  border: 2px solid #9b9;
}
.answer p {
  margin-top: 0;
}
