a       { color: #233FBF; text-decoration: none; }
a:hover { color: #7F95FF; text-decoration: underline; }

label, input[type="submit"] {
  display: block;
}
input, textarea {
  padding: 0.25em;
}
input[type="text"], input[type="password"], textarea {
  margin-bottom: 1em;
  width: 50%;
  border: 1px solid #999;
}

.error, .notice, .success {
  padding: 0.5em;
}
.error {
  border: 2px solid #FBC2C4;
  color: #8A1F11;
  background: #FBE3E4;
}
.notice {
  border: 2px solid #FFD324;
  color: #514721;
  background: #FFF6BF;
}
.success {
  border: 2px solid #C6D880;
  color: #264409;
  background: #E6EFC2;
}

#header h1 a { color: #111 !important; }
#header h1 a:hover { color: #333 !important; text-decoration: none; }

.controls {
  float: right;
  padding: 0 0.5em;
  font-size: 90%;
}
#user_nav {
  padding: 0.25em;
  margin: 0;
  list-style: none;
  background: #ddd;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}
#user_nav li {
  float: left;
  padding: 0.25em 0.5em;
}

a.chrome, .chrome a             { color: #2276BB !important; }
a.chrome:hover, .chrome a:hover { color: #0084B4 !important; }

.meta { color: #333; }
