@import partials/base.sass
@import compass/utilities.sass

body
  margin: 0
  color= !text_color
  font-family: sans-serif

h1, h2, h3, h4, h5, h6
  font-family: serif

a
  text-decoration: none
  color= !link_color
  &:hover
    color= !link_color + #333
    text-decoration: underline

form
  fieldset
    border: none
    margin: 0
    padding: 0 0 1em 0
    label
      display: block

#flash_messages
  .flash_message
    padding: 0.5em
    margin: 0.25em 0
    border-width: 2px
    border-style: solid
  .error
    color: #8A1F11
    background: #FBE3E4
    border-color: #FBC2C4
  .notice
    color: #514721
    background: #FFF6BF
    border-color: #FFD324
  .success
    color: #264409
    background: #E6EFC2
    border-color: #C6D880

#header
  padding: 1em 2em
  margin-bottom: 1em
  background-color= !header_bg
  color= !header_fg
  border-bottom= 1px solid !header_border
  h1
    margin: 0
    font-family: sans-serif
  a
    text-decoration: none
    color: inherit
  ul#site-actions
    +horizontal-list(0)
    +border-radius(0.5em)
    float: right
    font-size: 90%
    background-color: #ddd
    li a
      display: block
      padding: 0.5em
      color: #333
      &:hover
        background-color: #666
        color: #eee
    li.first a:hover
      +border-radius-left(0.4em)
    li.last a:hover
      +border-radius-right(0.4em)

#flash_messages,
#content
  margin: 0 2em

ul#questions-index,
ul#answers-index
  padding: 0
  +no-bullets

.controls
  float: left
  margin: 0 1em 0 0
  width: 6em
  .vote_form
    overflow: auto
    strong
      font-size: 200%
      font-weight: bold
      line-height: 1.25em
      color: #444
      padding: 0 0.25em
    fieldset
      float: left
    input[type="submit"]
      width: 16px
      height: 16px
      &[value="Up"]
        &:hover, &.voted
          background-image: url(/images/voted-up.png)
        &, &.voted:hover, &[disabled]
          background-image: url(/images/vote-up.png)
      &[value="Down"]
        &:hover, &.voted
          background-image: url(/images/voted-down.png)
        &, &.voted:hover, &[disabled]
          background-image: url(/images/vote-down.png)
  input[type="submit"]
    display: block
    margin: 0.15em 0.5em 0.15em 0
    background: none
    background-repeat: no-repeat
    border: none
    cursor: pointer
    text-indent: 1.5em
    text-align: left
    width: 100%
    height: 20px
    color= #333
    &:hover
      color= #333 * 2
      &[disabled]
        cursor: auto
    &[value="Edit"]
      background-image: url(/images/edit.png)
      &:hover
        background-image: url(/images/edit-hover.png)
    &[value="Accept"], &[value="Unaccept"]:hover
      background-image: url(/images/accept.png)
    &[value="Unaccept"], &[value="Accept"]:hover
      background-image: url(/images/accept-hover.png)
